.profile-picture {
  /* display: block;
  box-sizing: border-box; */
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-left: 500px;
  margin-right: 40px;
}
.bio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-items: center;
}

.edit-profile-button {
  margin-left: 10px;
  height: 30px;
  background-color: #fafafa;
  border-radius: 10px;
  width: 100px;
  font-size: 12px;
  font-weight: 600;
}
.edit-profile-button :hover {
  pointer-events: none;
}
.user-photos {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.profile-divider {
  border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  color: #8e8e8e;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.post-button {
  /* margin-top: 10px; */
  width: 250px;
  height: 50px;
  font-weight: 800;
  background-color: #ffffff;
  border-radius: 30px;
  margin-bottom: 20px;
}

.image-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 20px;
}

.profile-img-border {
  /* border: 5px solid; */
  padding-bottom: 40px;
}
.trash-can {
  display: block;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
.three-dot-edit {
  display: block;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .home-photos {
    width: 70vw;
    height: 50vw;
  }

  .username-title {
    width: 70vw;

    overflow-y: auto;
  }
  .username-content {
    width: 70vw;
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
  }
  .profile-picture {
    margin: 0 auto;
  }
  .image-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .user-photos {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    width: 70vw;
    margin: 0 auto;
    height: 50vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .home-photos {
    width: 70vw;
    height: 50vw;
  }
  .profile-img-border {
    margin-right: 20px;
  }
  .username-title {
    width: 70vw;

    overflow-y: auto;
  }
  .username-content {
    width: 70vw;
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
  }
  .profile-picture {
    margin: 0 auto;
  }
  .image-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .user-photos {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    width: 70vw;
    margin: 0 auto;
    height: 50vw;
  }
}
